<!DOCTYPE html>
<html>

<head>
	<title>Happening</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/bootstrap/css/corgi.css" type="text/css">
	<link rel="stylesheet" href="/stylesheets/events.css" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Happening</a>
		</div>
		<div class="navbar-collapse collapse" aria-expanded="true" id="navbar-main">
			<ul class="nav navbar-nav">
				<li><a href="#">Profile</a>
				</li>
				<li><a href="#" onClick="locateme()">In my Area</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Cities
									<span class="caret"></span>
							</a>
					<ul class="dropdown-menu cities-dropdown-list scrollable-menu" role="menu">
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="search-box visible-md visible-sm visible-lg">
					<form class="navbar-form" role="search">
						<div class="form-group ">
							<input type="text" class="search-text-box search form-control" placeholder="Search">
						</div>
					</form>
				</li>
				<li class="dropdown-profile">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Me
									<span class="caret"></span>
							</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Profile</a>
						</li>
						<li><a href="#">Friends</a>
						</li>
						<li><a href="#">Settings</a>
						</li>
						<li><a href="#">Help</a>
						</li>
						<li><a class="logout" onClick="logout()" href="#">Logout</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>


	<div class="row">
		<div class="center-block">
			<div id="events-feed">
			</div>
		</div>
	</div>


	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="/javascripts/events.js"></script>
	<script src="./bootstrap/js/bootstrap.min.js"></script>
	<script src="/javascripts/cookie.js"></script>

</body>

</html>