#user state files
Happening.xcodeproj/project.xcworkspace/xcuserdata/zion.xcus     erdatad/UserInterfaceState.xcuserstate

#swap files
Happening/._*
Happening.xcodeproj/xcuserdata/zion.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Happening.xcodeproj/project.xcworkspace/xcuserdata/zion.xcuserdatad/UserInterfaceState.xcuserstate
