extends layout

block content
    nav(class="navbar navbar-default" role="navigation")
        div(class="container-fluid")
            div(class="navbar-header")
                button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
            a(class="navbar-brand" href="/") happening
            a(class="navbar-brand" href="/users") users
            a(class="navbar-brand" href="/events") events